@media screen and (max-width: 1200px) {
  header {
    min-width: 1200px;
    width: 100%;
  }

  .container {
    max-width: 1200px;
  }
  
  .steps {
    min-width: 1200px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    min-width: 768px;
    width: 100%;
  }

  .container {
    max-width: 768px;
  }
  
  .steps {
    min-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 120%;
  }

  header {
    min-width: 480px;
    width: 100%;
  }

  .container {
    max-width: 480px;
  }

  .row {
    flex-direction: column;
  }

  .col {
    padding: 0rem 1.3rem 5rem;
  }

  .lessons .col {
    width: 100%;
  }

  .lessons .col:last-child {
    width: 100%;
    padding: 0rem 1.3rem;
  }

  .steps {
    min-width: 480px;
    width: 100%;
  }

  .steps .col {
    width: 100%;
  }

  .steps .col:last-child {
    width: 100%;
    padding: 0rem 1.3rem;
  }

  .why-us .col {
    width: 100%;
  }

  .why-us .col:last-child {
    width: 100%;
    padding: 0rem 1.3rem;
  }

  .why-us h2 {
    padding: 0rem 2rem;
  }

  .why-us h3:first-child {
    padding: 0rem 2rem 0rem 0rem;
  }
}
